In [8]:
import pandas as pd

In [35]:
data = pd.read_csv("https://raw.githubusercontent.com/klyi/InfoViz_final_project/main/movies_data.csv")

In [10]:
data['release_date'].mode

<bound method Series.mode of 0        6/22/2007
1        7/28/1995
2        5/12/2017
3       12/25/2013
4        6/22/2018
           ...
3396    10/28/2011
3397     7/14/2000
3398     3/28/1997
3399     8/28/1998
3400     7/22/2005
Name: release_date, Length: 3401, dtype: object>

In [22]:
grouped = data.groupby(["year","release_date"])

In [72]:
data[data['year']==1956]

,Unnamed: 0,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre,year
2744,2744,10/17/1956,Around the World in 80 Days,6000000.0,42000000.0,42000000.0,United Artists,PG,Adventure,1956
3015,3015,2/16/1956,Carousel,3380000.0,0.0,3220.0,20th Century Fox,NaN,Drama,1956