In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-10-23/movie_profit.csv")

In [3]:
YearsOnly = []
i = 0
while i < len(data["release_date"]):
    curDate = data["release_date"][i]
    splitYear = curDate.split("/")
    year = splitYear[2]
    YearsOnly.append(year)
    i += 1

data['year'] = YearsOnly

In [4]:
data = data.drop(columns="Unnamed: 0")

In [9]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [10]:
data.to_csv("movies_data.csv")

In [6]:
type(data['release_date'][0])

str

In [8]:
pd.to_datetime(data['release_date'])

0      2007-06-22
1      1995-07-28
2      2017-05-12
3      2013-12-25
4      2018-06-22
          ...
3396   2011-10-28
3397   2000-07-14
3398   1997-03-28
3399   1998-08-28
3400   2005-07-22
Name: release_date, Length: 3401, dtype: datetime64[ns]