In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2018/2018-10-23/movie_profit.csv")

In [4]:
YearsOnly = []
i = 0
while i < len(data["release_date"]):
    curDate = data["release_date"][i]
    splitYear = curDate.split("/")
    year = splitYear[2]
    YearsOnly.append(year)
    i += 1

data['year'] = YearsOnly

In [5]:
data = data.drop(columns="Unnamed: 0")

In [6]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [7]:
data['mpaa_rating'] = data['mpaa_rating'].replace("", "Unrated")
data['mpaa_rating'] = data['mpaa_rating'].fillna("Unrated")

In [8]:
data = data.rename({'domestic_gross':"Domestic_Gross_USD",'worldwide_gross':"Worldwide_Gross_USD"}, axis='columns')

In [9]:
data.to_csv("movies_data.csv")

,release_date,movie,production_budget,Domestic_Gross_USD,Worldwide_Gross_USD,distributor,mpaa_rating,genre,year
0,2007-06-22,Evan Almighty,175000000.0,100289690.0,1.741313e+08,Universal,PG,Comedy,2007
1,1995-07-28,Waterworld,175000000.0,88246220.0,2.642462e+08,Universal,PG-13,Action,1995
2,2017-05-12,King Arthur: Legend of the Sword,175000000.0,39175066.0,1.399507e+08,Warner Bros.,PG-13,Adventure,2017
3,2013-12-25,47 Ronin,175000000.0,38362475.0,1.517168e+08,Universal,PG-13,Action,2013
4,2018-06-22,Jurassic World: Fallen Kingdom,170000000.0,416769345.0,1.304866e+09,Universal,PG-13,Action,2018
...,...,...,...,...,...,...,...,...,...
3396,2011-10-28,Like Crazy,250000.0,3395391.0,3.728400e+06,Paramount Pictures,PG-13,Drama,2011
3397,2000-07-14,Chuck&Buck,250000.0,1055671.0,1.157672e+06,Artisan,R,Drama,2000
3398,1997-03-28,Love and Other Catastrophes,250000.0,212285.0,7.432160e+05,Fox Searchlight,R,Comedy,1997
3399,1998-08-28,I Married a Strange Person,250000.0,203134.0,2.031340e+05,Lionsgate,Unrated,Comedy,1998
3400,2005-07-22,November,250000.0,191862.0,1.918620e+05,Sony Pictures Classics,R,Drama,2005